@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root {
    --ff-heading: 'Fraunces', serif;
    --ff-base: 'Barlow', sans-serif;

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(210, 4%, 67%);
    --clr-neutral-300: hsl(232, 10%, 55%);
    --clr-neutral-500: hsl(213, 9%, 39%);
    --clr-neutral-800: hsl(212, 27%, 19%);

    --clr-red-300: hsl(7, 99%, 70%);
    --clr-yellow-500: hsl(51, 100%, 49%);
    --clr-green-300: hsl(167, 44%, 70%);
    --clr-green-500: hsl(168, 34%, 41%);
    --clr-green-700: hsl(167, 40%, 24%);
    --clr-blue-700: hsl(198, 62%, 26%);

    --fs-xs: 0.75rem;
    --fs-sm: 0.8125rem;
    --fs-base: 1.125rem;
    --fs-lg: 2rem;
    --fs-xl: 2.5rem;
    --fw-bold: 700;
    --fw-black: 900;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: var(--ff-heading);
}

a {
    text-decoration: none;
    color: var(--clr-neutral-800);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-base);
    font-size: var(--fs-base);
    color: var(--clr-neutral-800);
}

/* ///////////////// NAVBAR //////////////// */

.navbar {
    background-color: #3EBFFF;
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 1.5rem 1.25rem;
}
.toggle-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navbar__links {
    display: none;
    position: absolute;
    z-index: 999;
    background-color: var(--clr-neutral-100);
    min-width: 85%;
    padding: 2rem 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-align: center;
}

.navbar__links ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem
}

.navbar__links li {
    padding: 1rem;
    border-radius: 20rem;
}

.navbar__links a:not(.links__contact){
    font-family: var(--ff-base);
    color: var(--clr-neutral-300);
}

.navbar__links li:last-child{
    background-color: var(--clr-yellow-500);
}

.active{
    display: block;
}

/* .navbar__links {
    position: absolute;
    z-index: 999;
    background-color: var(--clr-neutral-100);
    width: 90%;
    right: 1rem;
}

.navbar__links ul {
    display: flex;
    flex-flow: column nowrap
}

.navbar__links li {
    padding: 1rem;
    text-align: center;
}

.navbar__links li a {
    color: var(--clr-neutral-200);
    font-family: var(--ff-base);
} */

/* ///////////////// HERO SECTION //////////////// */

.hero {
    position: relative;
}

.hero>h1 {
    display: block;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-neutral-100);
    font-size: var(--fs-xl);
    font-weight: var(--fw-black);
    text-transform: uppercase;
    word-spacing: 1rem;
    letter-spacing: calc(16 * 0.01em);
}

.hero__scroll {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ///////////////// CONTENT SECTION //////////////// */
.content img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.content__transform, .content__standout {
    display: grid;
    grid-template-rows: 1fr 1.25fr;
}

.content__transform>.article__text {
    grid-row: 2;
}

.article__text {
    display: grid;
    place-content: center;
    text-align: center;
    gap: 1.5rem;
    padding: 1.5rem;
}

.article__text>h2 {
    font-size: var(--fs-lg);
    font-weight: var(--fw-black);
    letter-spacing: calc(0.25 * 0.01em);
}

.article__text>p {
    color: var(--clr-neutral-500);
}

.content__last {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.last__wrapper {
    position: relative;
    text-align: center;
    display: grid;
    gap: 1.5rem;
}

.last__wrapper:nth-child(1)::before {
    content: 'Graphic design';
    display: block;
    position: absolute;
    width: 100%;
    color: var(--clr-green-700);
    font-family: var(--ff-heading);
    font-size: var(--fs-lg);
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.last__wrapper:nth-child(1)::after {
    content: 'Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential clients’ attention.';
    display: block;
    position: absolute;
    width: 100%;
    color: var(--clr-green-700);
    font-family: var(--ff-base);
    font-size: var(--fs-base);
    padding: 0.2rem;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: calc(-0.25 * 0.01em);
}

.last__wrapper:nth-child(2)::before {
    content: 'Photography';
    display: block;
    position: absolute;
    width: 100%;
    color: var(--clr-blue-700);
    font-family: var(--ff-heading);
    font-size: var(--fs-lg);
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.last__wrapper:nth-child(2)::after {
    content: 'Increase your credibility by getting the most stunning, high-quality photos that improve your business image.';
    display: block;
    position: absolute;
    width: 100%;
    color: var(--clr-blue-700);
    font-family: var(--ff-base);
    font-size: var(--fs-base);
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ///////////////// IMAGE GALLERY SECTION //////////////// */
.image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.image-gallery img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

/* ///////////////// TESTIMONIALS SECTION //////////////// */

.testimonials {
    padding: 3.125rem 1.5rem;
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 3.125rem;
}

.testimonials>h2 {
    color: var(--clr-neutral-200);
    text-transform: uppercase;
    font-size: var(--ff-base);
    letter-spacing: calc(16 * 0.01em);
}

.card-wrapper {
    display: grid;
    gap: 3rem;
}

.card__content {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    justify-content: center;
    padding-block: 1rem 2rem;
}

.avatar__wrapper {
    display: grid;
    place-content: center;
}

.avatar__image {
    vertical-align: middle;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.card__text {
    color: var(--clr-neutral-500);
}

.cust-info>span {
    color: var(--clr-neutral-200);
    font-size: var(--fs-xs);
    letter-spacing: calc(-0.5 * 0.01em);
}

/* ///////////////// FOOTER //////////////// */

.footer {
    --gap: 2.5rem;
    background-color: var(--clr-green-300);
    text-align: center;
    display: grid;
    gap: var(--gap);
    padding: 2.5rem 1rem;
}

.footer-logo__wrapper {
    display: grid;
    place-content: center;
}

#brand-logo {
    fill: var(--clr-green-700);
}

.footer__links {
    color: var(--clr-green-500);
}

.footer__links>ul {
    display: flex;
    justify-content: center;
    gap: var(--gap);
}


@media (min-width: 600px) {
    .content__transform, .content__standout {
        grid-template-rows: none;
        grid-template-columns: 1fr 1fr;
    }

    .content__transform>.article__text {
        grid-row: 1;
    }

    .content__last {
        grid-template-rows: none;
        grid-template-columns: 1fr 1fr;
    }

    .article__text {
        text-align: start;
        padding: 10rem;
    }

    .testimonials {
        min-height: 45rem;
        padding: 8rem 5rem;
        gap: 0;
    }

    .testimonials>h2 {
        padding: 2rem;
    }

    .card-wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .card__content {
        padding: 1.25rem;
        gap: 4rem;
    }

    .avatar__image {
        width: 4.5rem;
        height: 4.5rem;
    }


    .image-gallery {
        grid-template-columns: repeat(4, 1fr);
    }
    .brand-title{
        display: grid;
        place-content: center;
    }

    .toggle-button{
        display: none;
    }

    .navbar{
        padding: 1rem 2rem
    }

    .navbar__links{
        display: block;
        position: static;
        padding: 0;
        transform: translate(0, 0);
        min-width: auto;
        background-color: transparent;
    }

    .navbar__links ul {
        flex-flow: row;
        justify-content: flex-end;
        gap: 1.5rem;
    }

    .navbar__links li {
        padding: 0.75rem 2rem;
    }

    .navbar__links a:not(.links__contact){
        color: var(--clr-neutral-100);
    }

    .navbar__links li:last-child{
        background-color: var(--clr-neutral-100);
    }
}